# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
dist-ssr/
build/

# VSCode
.vscode/
!.vscode/extensions.json

# System files
Icon?
._*
.Spotlight-V100
.Trashes

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*

# Misc
*.local

# Vite
.vite/
