:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #181818;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1a3cff;
  text-decoration: inherit;
}
a:hover {
  color: #0d1a80;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #181818;
  background: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
}

button {
  border-radius: 8px;
  border: 1px solid #181818;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e0eaff;
  color: #181818;
  cursor: pointer;
  transition: border-color 0.25s, background 0.25s;
}
button:hover {
  border-color: #1a3cff;
  background: #c7d3ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto #1a3cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #181818;
    background-color: #f5f5f5;
  }
  a:hover {
    color: #0d1a80;
  }
  button {
    background-color: #e0eaff;
    color: #181818;
  }
}
